# DC Crime and Census Data

### Karolina Straznikiewicz

## Data Cleaning and Integration for DC Crime and Census Data

## 1. Load Python libraries

In [49]:
import pandas as pd
import numpy as np
import os
# Show all columns when printing
pd.set_option('display.max_columns', None)

In [50]:
pwd

'/Users/karolina/Desktop/FBI Project/DC Data'

In [51]:
# Set working directory
#cd "/Users/karolina/Desktop/FBI Project/DC Data"

## 2. Crime Incidents Data - Washington DC (2010-2023)

The Crime Incidents in Washington, DC (2010â€“2023) dataset provides a comprehensive record of reported crime incidents within the District of Columbia over the span of 13 years. The data is made available through the Open Data DC portal and is maintained by the Metropolitan Police Department (MPD). 

https://opendata.dc.gov/search?q=Crime%20incidents%20

In [54]:
crime_2010 = pd.read_csv("Crime_Incidents_in_2010.csv")

In [55]:
crime_2010

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,WARD,ANC,DISTRICT,PSA,NEIGHBORHOOD_CLUSTER,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,400413.0,139727.0,9016047,2010/01/12 22:50:00+00,EVENING,OTHERS,ASSAULT W/DANGEROUS WEAPON,710 - 799 BLOCK OF EDGEWOOD STREET NE,400413.0,139727.0,5.0,5E,5.0,502.0,Cluster 21,009204 2,9204.0,Precinct 74,38.925419,-76.995237,NaN,2010/01/12 00:51:00+00,NaN,607193802,NaN
1,397496.0,139543.0,10000713,2010/01/02 20:30:00+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,1131 - 1299 BLOCK OF EUCLID STREET NW,397496.0,139543.0,1.0,1B,3.0,304.0,Cluster 2,003600 3,3600.0,Precinct 23,38.923758,-77.028876,NaN,2010/01/01 17:00:00+00,2010/01/02 18:30:00+00,607196503,NaN
2,401647.0,131486.0,10000716,2010/01/02 20:30:00+00,EVENING,OTHERS,MOTOR VEHICLE THEFT,3098 - 3099 BLOCK OF STANTON ROAD SE,401647.0,131486.0,8.0,8E,7.0,704.0,Cluster 38,007404 3,7404.0,Precinct 117,38.851179,-76.981026,NaN,2010/01/02 00:30:00+00,2010/01/02 19:30:00+00,607196504,NaN
3,398273.0,137449.0,10000727,2010/01/02 20:20:00+00,EVENING,OTHERS,THEFT F/AUTO,1100 - 1199 BLOCK OF 6TH STREET NW,398273.0,137449.0,6.0,6E,3.0,308.0,Cluster 8,004802 2,4802.0,Precinct 18,38.904896,-77.019911,NaN,2010/01/02 05:00:00+00,2010/01/02 14:00:00+00,607196505,NaN
4,399996.0,137184.0,10000739,2010/01/02 22:13:00+00,EVENING,OTHERS,THEFT F/AUTO,400 - 499 BLOCK OF K STREET NE,399996.0,137184.0,6.0,6C,5.0,501.0,Cluster 25,010600 2,10600.0,Precinct 83,38.902511,-77.000046,NaN,2010/01/02 06:00:00+00,2010/01/02 20:30:00+00,607196506,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31681,404085.0,135978.0,10165532,2010/11/14 18:38:00+00,DAY,OTHERS,ROBBERY,100 - 199 BLOCK OF 36TH STREET NE,404085.0,135978.0,7.0,7F,6.0,603.0,Cluster 32,009603 3,9603.0,Precinct 102,38.891637,-76.952913,NaN,2010/11/14 16:30:00+00,2010/11/14 17:30:00+00,607453939,NaN
31682,393653.0,139731.0,10165538,2010/11/14 19:20:00+00,DAY,OTHERS,BURGLARY,2700 - 2799 BLOCK OF WISCONSIN AVENUE NW,393653.0,139731.0,3.0,3B,2.0,204.0,Cluster 14,000702 2,702.0,Precinct 11,38.925432,-77.073196,NaN,2010/11/13 20:30:00+00,2010/11/14 17:30:00+00,607453940,NaN
31683,400200.0,132307.0,11170461,2010/11/12 01:45:00+00,EVENING,OTHERS,BURGLARY,2700 - 2799 BLOCK OF WADE ROAD SE,400200.0,132307.0,8.0,8C,7.0,703.0,Cluster 37,007401 1,7401.0,Precinct 119,38.858577,-76.997696,NaN,2010/11/11 19:00:00+00,2010/11/12 01:20:00+00,607551535,NaN
31684,402158.0,138824.0,100060,2010/07/16 18:00:00+00,DAY,OTHERS,THEFT F/AUTO,1800 - 2299 BLOCK OF NEW YORK AVENUE NE,402158.0,138824.0,5.0,5C,5.0,506.0,Cluster 22,011100 3,11100.0,Precinct 72,38.917282,-76.975116,NaN,2010/07/15 17:37:00+00,2010/07/15 17:40:00+00,607678942,NaN
31685,393731.0,139295.0,7151899,2010/09/14 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2301 - 2499 BLOCK OF WISCONSIN AVENUE NW,393731.0,139295.0,3.0,3B,2.0,204.0,Cluster 14,000300 1,300.0,Precinct 11,38.921505,-77.072292,NaN,2007/11/04 00:12:00+00,2007/11/04 00:15:00+00,607679353,NaN

In [56]:
columns_to_keep = ['REPORT_DAT','SHIFT','OFFENSE','DISTRICT','BLOCK_GROUP','LATITUDE','LONGITUDE']

In [57]:
crime_2010 = crime_2010[columns_to_keep]

In [58]:
dataframes = []

In [59]:
for year in range(2010, 2024):  
    file_name = f"Crime_Incidents_in_{year}.csv"
    
    if os.path.exists(file_name):
        
        df = pd.read_csv(file_name)
        
        df = df[columns_to_keep]
        
        dataframes.append(df)
    else:
        print(f"File {file_name} not found.")

In [60]:
# Merge all DataFrames into a single DataFrame
merged_data = pd.concat(dataframes, ignore_index=True)

merged_data

,REPORT_DAT,SHIFT,OFFENSE,DISTRICT,BLOCK_GROUP,LATITUDE,LONGITUDE
0,2010/01/12 22:50:00+00,EVENING,ASSAULT W/DANGEROUS WEAPON,5.0,009204 2,38.925419,-76.995237
1,2010/01/02 20:30:00+00,EVENING,MOTOR VEHICLE THEFT,3.0,003600 3,38.923758,-77.028876
2,2010/01/02 20:30:00+00,EVENING,MOTOR VEHICLE THEFT,7.0,007404 3,38.851179,-76.981026
3,2010/01/02 20:20:00+00,EVENING,THEFT F/AUTO,3.0,004802 2,38.904896,-77.019911
4,2010/01/02 22:13:00+00,EVENING,THEFT F/AUTO,5.0,010600 2,38.902511,-77.000046
...,...,...,...,...,...,...,...
467360,2023/04/08 09:05:38+00,MIDNIGHT,ROBBERY,3.0,005003 2,38.907236,-77.030322
467361,2023/04/14 21:20:18+00,EVENING,THEFT F/AUTO,2.0,005502 3,38.909358,-77.044147
467362,2023/01/02 00:25:07+00,EVENING,THEFT F/AUTO,4.0,002400 4,38.939353,-77.021500
467363,2023/11/06 17:50:48+00,DAY,MOTOR VEHICLE THEFT,1.0,005801 2,38.896127,-77.019416
467364,2023/11/07 16:28:49+00,DAY,THEFT F/AUTO,2.0,001003 1,38.951041,-77.089621

In [61]:
merged_data.shape

(467365, 7)

In [62]:
# Split REPORT_DAT into separate columns for YEAR, MONTH, and DAY
merged_data['REPORT_DAT'] = pd.to_datetime(merged_data['REPORT_DAT'])  # Ensure datetime format
merged_data['YEAR'] = merged_data['REPORT_DAT'].dt.year
merged_data['MONTH'] = merged_data['REPORT_DAT'].dt.month
merged_data['DAY'] = merged_data['REPORT_DAT'].dt.day

In [63]:
merged_data = merged_data.drop(columns=['REPORT_DAT'])

In [64]:
merged_data

,SHIFT,OFFENSE,DISTRICT,BLOCK_GROUP,LATITUDE,LONGITUDE,YEAR,MONTH,DAY
0,EVENING,ASSAULT W/DANGEROUS WEAPON,5.0,009204 2,38.925419,-76.995237,2010,1,12
1,EVENING,MOTOR VEHICLE THEFT,3.0,003600 3,38.923758,-77.028876,2010,1,2
2,EVENING,MOTOR VEHICLE THEFT,7.0,007404 3,38.851179,-76.981026,2010,1,2
3,EVENING,THEFT F/AUTO,3.0,004802 2,38.904896,-77.019911,2010,1,2
4,EVENING,THEFT F/AUTO,5.0,010600 2,38.902511,-77.000046,2010,1,2
...,...,...,...,...,...,...,...,...,...
467360,MIDNIGHT,ROBBERY,3.0,005003 2,38.907236,-77.030322,2023,4,8
467361,EVENING,THEFT F/AUTO,2.0,005502 3,38.909358,-77.044147,2023,4,14
467362,EVENING,THEFT F/AUTO,4.0,002400 4,38.939353,-77.021500,2023,1,2
467363,DAY,MOTOR VEHICLE THEFT,1.0,005801 2,38.896127,-77.019416,2023,11,6
467364,DAY,THEFT F/AUTO,2.0,001003 1,38.951041,-77.089621,2023,11,7

## Data Dictionary

### YEAR,MONTH,DAY

- Date the crime was comitted
- January 2010 - December 2023

### SHIFT

- Indicates the police shift during which the incident occurred.

In [68]:
merged_data['SHIFT'].value_counts()

SHIFT
EVENING     198200
DAY         177242
MIDNIGHT     91923
Name: count, dtype: int64

### LOCATION VARIABLES

- Latitude, Longitude
- District - Represents the district of Washington DC where the crime occurred
- BLOCK_GROUP - A geographic identifier combining Census Tract and Block Group codes.

### OFFENSE

- Type of offense commited.

In [71]:
merged_data['OFFENSE'].value_counts()

OFFENSE
THEFT/OTHER                   177925
THEFT F/AUTO                  137302
MOTOR VEHICLE THEFT            45527
ROBBERY                        41405
BURGLARY                       31716
ASSAULT W/DANGEROUS WEAPON     27647
SEX ABUSE                       3417
HOMICIDE                        2166
ARSON                            260
Name: count, dtype: int64

In [72]:
unemployment_rate = pd.read_csv("DCDIST5URN-3.csv")

## Unemployment Data

### U.S. Bureau of Labor Statistics 

https://fred.stlouisfed.org/series/DCDIST5URN

- UNEMPLOYMENT_RATE - monthly unemployment % rate in Washington DC

In [75]:
unemployment_rate

           DATE  DCDIST5URN
0    2010-01-01        10.8
1    2010-02-01        10.6
2    2010-03-01        10.1
3    2010-04-01         9.2
4    2010-05-01         9.2
..          ...         ...
173  2024-06-01         6.1
174  2024-07-01         6.3
175  2024-08-01         6.9
176  2024-09-01         5.6
177  2024-10-01         5.3

[178 rows x 2 columns]

In [76]:
unemployment_rate['DATE'] = pd.to_datetime(unemployment_rate['DATE'])
unemployment_rate['YEAR'] = unemployment_rate['DATE'].dt.year
unemployment_rate['MONTH'] = unemployment_rate['DATE'].dt.month

In [77]:
merged_with_unemployment = merged_data.merge(
    unemployment_rate[['YEAR', 'MONTH', 'DCDIST5URN']], 
    on=['YEAR', 'MONTH'], 
    how='left'
)

In [78]:
merged_with_unemployment.rename(columns={'DCDIST5URN': 'UNEMPLOYMENT_RATE'}, inplace=True)

In [79]:
merged_with_unemployment

,SHIFT,OFFENSE,DISTRICT,BLOCK_GROUP,LATITUDE,LONGITUDE,YEAR,MONTH,DAY,UNEMPLOYMENT_RATE
0,EVENING,ASSAULT W/DANGEROUS WEAPON,5.0,009204 2,38.925419,-76.995237,2010,1,12,10.8
1,EVENING,MOTOR VEHICLE THEFT,3.0,003600 3,38.923758,-77.028876,2010,1,2,10.8
2,EVENING,MOTOR VEHICLE THEFT,7.0,007404 3,38.851179,-76.981026,2010,1,2,10.8
3,EVENING,THEFT F/AUTO,3.0,004802 2,38.904896,-77.019911,2010,1,2,10.8
4,EVENING,THEFT F/AUTO,5.0,010600 2,38.902511,-77.000046,2010,1,2,10.8
...,...,...,...,...,...,...,...,...,...,...
467360,MIDNIGHT,ROBBERY,3.0,005003 2,38.907236,-77.030322,2023,4,8,4.1
467361,EVENING,THEFT F/AUTO,2.0,005502 3,38.909358,-77.044147,2023,4,14,4.1
467362,EVENING,THEFT F/AUTO,4.0,002400 4,38.939353,-77.021500,2023,1,2,4.9
467363,DAY,MOTOR VEHICLE THEFT,1.0,005801 2,38.896127,-77.019416,2023,11,6,4.6
467364,DAY,THEFT F/AUTO,2.0,001003 1,38.951041,-77.089621,2023,11,7,4.6

## 3. American Community Survey Data - Census Data

### United States Census Bureau

data.census.gov

2010 and 2020

TRACT, BLKGRP, P0010001 as TOTAL_POPULATION, P0010003 as WHITE, P0010004 as BLACK, P0010005 as ASIAN, P0010008 as OTHER, P0030001 as POP_18, H0010002 as OCCUP_HOUSING, H0010003 as VACANT_HOUSING

In [83]:
files = [
    ("Census_Block_Groups_in_2010.csv", 2010),
    ("Census_Block_Groups_in_2020.csv", 2020)
]

In [84]:
columns_to_keep = [
    'TRACT', 'BLKGRP', 'P0010001', 'P0010003', 'P0010004',
    'P0010005', 'P0010008', 'P0030001', 'H0010002', 'H0010003'
]
rename_columns = {
    'P0010001': 'TOTAL_POPULATION',
    'P0010003': 'WHITE',
    'P0010004': 'BLACK',
    'P0010005': 'ASIAN',
    'P0010008': 'OTHER',
    'P0030001': 'POP_18',
    'H0010002': 'OCCUP_HOUSING',
    'H0010003': 'VACANT_HOUSING'
}

In [85]:
dataframes = []

for file_name, year in files:

    df = pd.read_csv(file_name, usecols=columns_to_keep)
    
    df.rename(columns=rename_columns, inplace=True)
    
    df['YEAR'] = year
    
    dataframes.append(df)

merged_census = pd.concat(dataframes, ignore_index=True)

In [86]:
merged_census

,TRACT,BLKGRP,TOTAL_POPULATION,WHITE,BLACK,ASIAN,OTHER,POP_18,OCCUP_HOUSING,VACANT_HOUSING,YEAR
0,1100,4,722,610,29,2,5,595,296,10,2010
1,2102,6,858,103,596,0,141,668,342,43,2010
2,2102,4,760,57,619,1,59,596,291,33,2010
3,2102,3,718,41,574,4,68,537,283,45,2010
4,1600,4,1419,373,976,5,8,1202,604,21,2010
...,...,...,...,...,...,...,...,...,...,...,...
1016,10500,5,560,159,312,2,12,501,370,21,2020
1017,11100,1,2476,213,1975,8,92,1621,581,58,2020
1018,11100,2,1859,347,1223,17,103,1429,693,56,2020
1019,11100,3,1568,134,1248,11,45,1311,527,37,2020
1020,980000,1,176,48,114,0,0,167,8,4,2020

In [87]:
merged_census['TRACT'] = merged_census['TRACT'].astype(str).str.zfill(6)

In [88]:
merged_census

,TRACT,BLKGRP,TOTAL_POPULATION,WHITE,BLACK,ASIAN,OTHER,POP_18,OCCUP_HOUSING,VACANT_HOUSING,YEAR
0,001100,4,722,610,29,2,5,595,296,10,2010
1,002102,6,858,103,596,0,141,668,342,43,2010
2,002102,4,760,57,619,1,59,596,291,33,2010
3,002102,3,718,41,574,4,68,537,283,45,2010
4,001600,4,1419,373,976,5,8,1202,604,21,2010
...,...,...,...,...,...,...,...,...,...,...,...
1016,010500,5,560,159,312,2,12,501,370,21,2020
1017,011100,1,2476,213,1975,8,92,1621,581,58,2020
1018,011100,2,1859,347,1223,17,103,1429,693,56,2020
1019,011100,3,1568,134,1248,11,45,1311,527,37,2020
1020,980000,1,176,48,114,0,0,167,8,4,2020

In [89]:
merged_census['BLOCK_GROUP'] = merged_census['TRACT'] + ' ' + merged_census['BLKGRP'].astype(str)

In [90]:
merged_census

,TRACT,BLKGRP,TOTAL_POPULATION,WHITE,BLACK,ASIAN,OTHER,POP_18,OCCUP_HOUSING,VACANT_HOUSING,YEAR,BLOCK_GROUP
0,001100,4,722,610,29,2,5,595,296,10,2010,001100 4
1,002102,6,858,103,596,0,141,668,342,43,2010,002102 6
2,002102,4,760,57,619,1,59,596,291,33,2010,002102 4
3,002102,3,718,41,574,4,68,537,283,45,2010,002102 3
4,001600,4,1419,373,976,5,8,1202,604,21,2010,001600 4
...,...,...,...,...,...,...,...,...,...,...,...,...
1016,010500,5,560,159,312,2,12,501,370,21,2020,010500 5
1017,011100,1,2476,213,1975,8,92,1621,581,58,2020,011100 1
1018,011100,2,1859,347,1223,17,103,1429,693,56,2020,011100 2
1019,011100,3,1568,134,1248,11,45,1311,527,37,2020,011100 3
1020,980000,1,176,48,114,0,0,167,8,4,2020,980000 1

In [91]:
# Add CENSUS_YEAR column to merged_with_unemployment
merged_with_unemployment['CENSUS_YEAR'] = merged_with_unemployment['YEAR'].apply(lambda x: 2010 if x <= 2019 else 2020)

# Filter merged_census for relevant years (2010 and 2020 only)
filtered_census = merged_census[merged_census['YEAR'].isin([2010, 2020])]

# Merge based on CENSUS_YEAR and BLOCK_GROUP
final_merged_data = merged_with_unemployment.merge(
    filtered_census,
    left_on=['CENSUS_YEAR', 'BLOCK_GROUP'],
    right_on=['YEAR', 'BLOCK_GROUP'],
    how='left'
)

# Drop unnecessary columns and clean up
final_merged_data.drop(columns=['CENSUS_YEAR', 'YEAR_y'], inplace=True)
final_merged_data.rename(columns={'YEAR_x': 'YEAR'}, inplace=True)

# Display the first few rows
print(final_merged_data.head())

# Save the merged dataset (optional)
#final_merged_data.to_csv("Final_Merged_All_Years.csv", index=False)

     SHIFT                     OFFENSE  DISTRICT BLOCK_GROUP   LATITUDE  \
0  EVENING  ASSAULT W/DANGEROUS WEAPON       5.0    009204 2  38.925419
1  EVENING         MOTOR VEHICLE THEFT       3.0    003600 3  38.923758
2  EVENING         MOTOR VEHICLE THEFT       7.0    007404 3  38.851179
3  EVENING                THEFT F/AUTO       3.0    004802 2  38.904896
4  EVENING                THEFT F/AUTO       5.0    010600 2  38.902511

   LONGITUDE  YEAR  MONTH  DAY  UNEMPLOYMENT_RATE   TRACT  BLKGRP  \
0 -76.995237  2010      1   12               10.8  009204     2.0
1 -77.028876  2010      1    2               10.8  003600     3.0
2 -76.981026  2010      1    2               10.8  007404     3.0
3 -77.019911  2010      1    2               10.8  004802     2.0
4 -77.000046  2010      1    2               10.8  010600     2.0

   TOTAL_POPULATION   WHITE   BLACK  ASIAN  OTHER  POP_18  OCCUP_HOUSING  \
0            1704.0    36.0  1407.0   23.0  187.0  1312.0          871.0
1            1367.0   789.0   343.0    3.0  105.0  1248.0          612.0
2             388.0     2.0   371.0    0.0    5.0   233.0          133.0
3            1710.0   358.0   918.0   10.0   90.0  1429.0          773.0
4            2350.0  1092.0  1051.0   14.0   40.0  2050.0         1075.0

   VACANT_HOUSING
0            41.0
1            51.0
2            86.0
3            66.0
4           192.0

In [92]:
final_merged_data.columns

Index(['SHIFT', 'OFFENSE', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'LONGITUDE',
       'YEAR', 'MONTH', 'DAY', 'UNEMPLOYMENT_RATE', 'TRACT', 'BLKGRP',
       'TOTAL_POPULATION', 'WHITE', 'BLACK', 'ASIAN', 'OTHER', 'POP_18',
       'OCCUP_HOUSING', 'VACANT_HOUSING'],
      dtype='object')

### WHITE
- Represents the total population identifying as White within the census block group. 

### BLACK:
- Represents the total population identifying as Black or African American within the census block group.

### ASIAN:
- Represents the total population identifying as Asian within the census block group.

### OTHER:
- Represents the total population identifying as Other races, typically including multiracial individuals or those who don't identify as White, Black, or Asian.

### POP_18:
- Represents the total population aged 18 years or older within the census block group.

### OCCUP_HOUSING:
- Represents the number of occupied housing units within the census block group.

### VACANT_HOUSING:
- Represents the number of vacant housing units within the census block group.

In [94]:

social_data = pd.read_excel('Social_Data.xlsx')

final_dataset = final_merged_data.merge(social_data, on='YEAR', how='left')

print(final_dataset.head())

     SHIFT                     OFFENSE  DISTRICT BLOCK_GROUP   LATITUDE  \
0  EVENING  ASSAULT W/DANGEROUS WEAPON       5.0    009204 2  38.925419
1  EVENING         MOTOR VEHICLE THEFT       3.0    003600 3  38.923758
2  EVENING         MOTOR VEHICLE THEFT       7.0    007404 3  38.851179
3  EVENING                THEFT F/AUTO       3.0    004802 2  38.904896
4  EVENING                THEFT F/AUTO       5.0    010600 2  38.902511

   LONGITUDE  YEAR  MONTH  DAY  UNEMPLOYMENT_RATE   TRACT  BLKGRP  \
0 -76.995237  2010      1   12               10.8  009204     2.0
1 -77.028876  2010      1    2               10.8  003600     3.0
2 -76.981026  2010      1    2               10.8  007404     3.0
3 -77.019911  2010      1    2               10.8  004802     2.0
4 -77.000046  2010      1    2               10.8  010600     2.0

   TOTAL_POPULATION   WHITE   BLACK  ASIAN  OTHER  POP_18  OCCUP_HOUSING  \
0            1704.0    36.0  1407.0   23.0  187.0  1312.0          871.0
1            1367.0   789.0   343.0    3.0  105.0  1248.0          612.0
2             388.0     2.0   371.0    0.0    5.0   233.0          133.0
3            1710.0   358.0   918.0   10.0   90.0  1429.0          773.0
4            2350.0  1092.0  1051.0   14.0   40.0  2050.0         1075.0

   VACANT_HOUSING  POPULATION  BELOW_POVERTY  FOOD_STAMPS  \
0            41.0    601723.0        91068.0      28656.0
1            51.0    601723.0        91068.0      28656.0
2            86.0    601723.0        91068.0      28656.0
3            66.0    601723.0        91068.0      28656.0
4           192.0    601723.0        91068.0      28656.0

   SINGLE_MOTHER_HOUSEHOLD  SINGLE_MOTHER_POVERTY  \
0                  50828.0                50550.0
1                  50828.0                50550.0
2                  50828.0                50550.0
3                  50828.0                50550.0
4                  50828.0                50550.0

   GRANDPARENT_HEADOFHOUSEHOLD  GRANDPARENT_POVERTY  HOMELESS
0                      12479.0              10495.0    6539.0
1                      12479.0              10495.0    6539.0
2                      12479.0              10495.0    6539.0
3                      12479.0              10495.0    6539.0
4                      12479.0              10495.0    6539.0

In [95]:
final_dataset.columns

Index(['SHIFT', 'OFFENSE', 'DISTRICT', 'BLOCK_GROUP', 'LATITUDE', 'LONGITUDE',
       'YEAR', 'MONTH', 'DAY', 'UNEMPLOYMENT_RATE', 'TRACT', 'BLKGRP',
       'TOTAL_POPULATION', 'WHITE', 'BLACK', 'ASIAN', 'OTHER', 'POP_18',
       'OCCUP_HOUSING', 'VACANT_HOUSING', 'POPULATION', 'BELOW_POVERTY',
       'FOOD_STAMPS', 'SINGLE_MOTHER_HOUSEHOLD', 'SINGLE_MOTHER_POVERTY',
       'GRANDPARENT_HEADOFHOUSEHOLD', 'GRANDPARENT_POVERTY', 'HOMELESS'],
      dtype='object')

In [96]:
final_dataset.rename(columns={
    'POPULATION': 'TOTAL_POPULATION',
    'TOTAL_POPULATION': 'LOCAL_POPULATION'
}, inplace=True)

In [97]:
final_dataset

,SHIFT,OFFENSE,DISTRICT,BLOCK_GROUP,LATITUDE,LONGITUDE,YEAR,MONTH,DAY,UNEMPLOYMENT_RATE,TRACT,BLKGRP,LOCAL_POPULATION,WHITE,BLACK,ASIAN,OTHER,POP_18,OCCUP_HOUSING,VACANT_HOUSING,TOTAL_POPULATION,BELOW_POVERTY,FOOD_STAMPS,SINGLE_MOTHER_HOUSEHOLD,SINGLE_MOTHER_POVERTY,GRANDPARENT_HEADOFHOUSEHOLD,GRANDPARENT_POVERTY,HOMELESS
0,EVENING,ASSAULT W/DANGEROUS WEAPON,5.0,009204 2,38.925419,-76.995237,2010,1,12,10.8,009204,2.0,1704.0,36.0,1407.0,23.0,187.0,1312.0,871.0,41.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
1,EVENING,MOTOR VEHICLE THEFT,3.0,003600 3,38.923758,-77.028876,2010,1,2,10.8,003600,3.0,1367.0,789.0,343.0,3.0,105.0,1248.0,612.0,51.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
2,EVENING,MOTOR VEHICLE THEFT,7.0,007404 3,38.851179,-76.981026,2010,1,2,10.8,007404,3.0,388.0,2.0,371.0,0.0,5.0,233.0,133.0,86.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
3,EVENING,THEFT F/AUTO,3.0,004802 2,38.904896,-77.019911,2010,1,2,10.8,004802,2.0,1710.0,358.0,918.0,10.0,90.0,1429.0,773.0,66.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
4,EVENING,THEFT F/AUTO,5.0,010600 2,38.902511,-77.000046,2010,1,2,10.8,010600,2.0,2350.0,1092.0,1051.0,14.0,40.0,2050.0,1075.0,192.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467360,MIDNIGHT,ROBBERY,3.0,005003 2,38.907236,-77.030322,2023,4,8,4.1,005003,2.0,1323.0,842.0,184.0,5.0,29.0,1282.0,780.0,64.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467361,EVENING,THEFT F/AUTO,2.0,005502 3,38.909358,-77.044147,2023,4,14,4.1,005502,3.0,783.0,591.0,32.0,1.0,18.0,753.0,553.0,79.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467362,EVENING,THEFT F/AUTO,4.0,002400 4,38.939353,-77.021500,2023,1,2,4.9,002400,4.0,1146.0,414.0,450.0,9.0,128.0,984.0,399.0,48.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467363,DAY,MOTOR VEHICLE THEFT,1.0,005801 2,38.896127,-77.019416,2023,11,6,4.6,005801,2.0,1009.0,496.0,42.0,1.0,10.0,943.0,621.0,118.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467364,DAY,THEFT F/AUTO,2.0,001003 1,38.951041,-77.089621,2023,11,7,4.6,001003,1.0,1098.0,913.0,25.0,0.0,5.0,805.0,389.0,9.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0

### POPULATION:
- Represents the total population within the census block group.

### BELOW_POVERTY:
- The number of individuals living below the poverty line in Washington DC. 

### FOOD_STAMPS:
- The total number of individuals or households receiving food stamp benefits (Supplemental Nutrition Assistance Program - SNAP).

### SINGLE_MOTHER_HOUSEHOLD:
- The number of households led by single mothers in Washington DC.

### SINGLE_MOTHER_POVERTY:
- The number of single-mother households living below the poverty line.

### GRANDPARENT_HEADOFHOUSEHOLD:
- The number of households led by grandparents, typically those taking care of grandchildren.

### GRANDPARENT_POVERTY:
- The number of grandparent-headed households living below the poverty line.

### HOMELESS:
- The total number of individuals experiencing homelessness in Washington DC.

In [138]:
final_dataset.to_csv("Final_Merged.csv", index=False)

In [140]:
sampled_dataset = final_dataset.sample(frac=0.2, random_state=42)

sampled_dataset.to_csv("Final_Dataset_20Percent_Sample.csv", index=False)

In [152]:
final_dataset[:20]

,SHIFT,OFFENSE,DISTRICT,BLOCK_GROUP,LATITUDE,LONGITUDE,YEAR,MONTH,DAY,UNEMPLOYMENT_RATE,TRACT,BLKGRP,LOCAL_POPULATION,WHITE,BLACK,ASIAN,OTHER,POP_18,OCCUP_HOUSING,VACANT_HOUSING,TOTAL_POPULATION,BELOW_POVERTY,FOOD_STAMPS,SINGLE_MOTHER_HOUSEHOLD,SINGLE_MOTHER_POVERTY,GRANDPARENT_HEADOFHOUSEHOLD,GRANDPARENT_POVERTY,HOMELESS
0,EVENING,ASSAULT W/DANGEROUS WEAPON,5.0,009204 2,38.925419,-76.995237,2010,1,12,10.8,009204,2.0,1704.0,36.0,1407.0,23.0,187.0,1312.0,871.0,41.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
1,EVENING,MOTOR VEHICLE THEFT,3.0,003600 3,38.923758,-77.028876,2010,1,2,10.8,003600,3.0,1367.0,789.0,343.0,3.0,105.0,1248.0,612.0,51.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
2,EVENING,MOTOR VEHICLE THEFT,7.0,007404 3,38.851179,-76.981026,2010,1,2,10.8,007404,3.0,388.0,2.0,371.0,0.0,5.0,233.0,133.0,86.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
3,EVENING,THEFT F/AUTO,3.0,004802 2,38.904896,-77.019911,2010,1,2,10.8,004802,2.0,1710.0,358.0,918.0,10.0,90.0,1429.0,773.0,66.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
4,EVENING,THEFT F/AUTO,5.0,010600 2,38.902511,-77.000046,2010,1,2,10.8,010600,2.0,2350.0,1092.0,1051.0,14.0,40.0,2050.0,1075.0,192.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
5,EVENING,THEFT F/AUTO,4.0,002002 3,38.950800,-77.031564,2010,1,2,10.8,002002,3.0,1414.0,301.0,912.0,2.0,122.0,1099.0,450.0,23.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
6,EVENING,THEFT F/AUTO,7.0,007304 1,38.844829,-76.985094,2010,1,2,10.8,007304,1.0,2353.0,13.0,2315.0,1.0,2.0,1514.0,729.0,119.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
7,EVENING,MOTOR VEHICLE THEFT,1.0,008410 1,38.902474,-76.990247,2010,1,2,10.8,008410,1.0,1489.0,451.0,958.0,4.0,23.0,1232.0,604.0,77.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
8,EVENING,THEFT/OTHER,2.0,001002 2,38.934062,-77.072432,2010,1,2,10.8,001002,2.0,1444.0,1184.0,80.0,1.0,20.0,1328.0,900.0,109.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
9,DAY,THEFT/OTHER,1.0,005800 1,38.899121,-77.021926,2010,1,2,10.8,005800,1.0,930.0,739.0,74.0,3.0,10.0,894.0,650.0,343.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
10,EVENING,THEFT/OTHER,2.0,001001 2,38.949245,-77.080303,2010,1,2,10.8,001001,2.0,1976.0,1657.0,100.0,8.0,25.0,1632.0,905.0,58.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
11,EVENING,THEFT/OTHER,2.0,005500 1,38.909927,-77.043607,2010,1,3,10.8,005500,1.0,1234.0,798.0,292.0,10.0,18.0,1197.0,632.0,46.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
12,EVENING,THEFT F/AUTO,2.0,005500 4,38.907230,-77.048815,2010,1,2,10.8,005500,4.0,1097.0,786.0,194.0,0.0,15.0,1062.0,580.0,74.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
13,EVENING,ROBBERY,4.0,001600 2,38.980411,-77.026499,2010,1,3,10.8,001600,2.0,671.0,192.0,377.0,0.0,39.0,519.0,272.0,17.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
14,EVENING,THEFT F/AUTO,2.0,000201 1,38.912603,-77.074958,2010,1,3,10.8,000201,1.0,3916.0,2940.0,259.0,7.0,43.0,3902.0,2.0,0.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
15,EVENING,THEFT F/AUTO,1.0,004702 1,38.902518,-77.016924,2010,1,3,10.8,004702,1.0,1802.0,703.0,853.0,0.0,27.0,1647.0,922.0,66.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
16,EVENING,ASSAULT W/DANGEROUS WEAPON,6.0,009603 3,38.890251,-76.955530,2010,1,3,10.8,009603,3.0,1016.0,6.0,993.0,3.0,2.0,839.0,548.0,66.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
17,MIDNIGHT,THEFT/OTHER,3.0,004300 1,38.917550,-77.031952,2010,1,3,10.8,004300,1.0,2062.0,1123.0,628.0,14.0,136.0,1876.0,1267.0,60.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
18,MIDNIGHT,ROBBERY,3.0,005201 4,38.912604,-77.033899,2010,1,3,10.8,005201,4.0,1775.0,1238.0,353.0,3.0,36.0,1618.0,1066.0,97.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0
19,MIDNIGHT,HOMICIDE,7.0,007409 3,38.843377,-76.978321,2010,1,3,10.8,007409,3.0,1211.0,1.0,1203.0,1.0,0.0,743.0,467.0,50.0,601723.0,91068.0,28656.0,50828.0,50550.0,12479.0,10495.0,6539.0

In [154]:
final_dataset[-20:]

,SHIFT,OFFENSE,DISTRICT,BLOCK_GROUP,LATITUDE,LONGITUDE,YEAR,MONTH,DAY,UNEMPLOYMENT_RATE,TRACT,BLKGRP,LOCAL_POPULATION,WHITE,BLACK,ASIAN,OTHER,POP_18,OCCUP_HOUSING,VACANT_HOUSING,TOTAL_POPULATION,BELOW_POVERTY,FOOD_STAMPS,SINGLE_MOTHER_HOUSEHOLD,SINGLE_MOTHER_POVERTY,GRANDPARENT_HEADOFHOUSEHOLD,GRANDPARENT_POVERTY,HOMELESS
467345,DAY,THEFT F/AUTO,1.0,006900 2,38.882836,-76.986919,2023,1,20,4.9,006900,2.0,1129.0,793.0,164.0,2.0,7.0,880.0,520.0,369.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467346,DAY,THEFT F/AUTO,4.0,002900 1,38.934568,-77.029123,2023,1,26,4.9,002900,1.0,2173.0,1004.0,457.0,28.0,395.0,1875.0,890.0,47.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467347,MIDNIGHT,THEFT/OTHER,2.0,005203 2,38.909652,-77.033254,2023,9,27,5.0,005203,2.0,985.0,659.0,55.0,2.0,24.0,949.0,658.0,61.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467348,EVENING,THEFT/OTHER,4.0,002102 6,38.957523,-77.019579,2023,3,3,4.9,002102,6.0,998.0,160.0,601.0,8.0,129.0,721.0,346.0,44.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467349,EVENING,MOTOR VEHICLE THEFT,1.0,004703 2,38.903113,-77.018930,2023,2,1,5.0,004703,2.0,799.0,475.0,117.0,1.0,13.0,755.0,527.0,11.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467350,MIDNIGHT,THEFT F/AUTO,3.0,004402 2,38.914830,-77.024977,2023,7,24,5.2,004402,2.0,1397.0,835.0,277.0,0.0,46.0,1241.0,692.0,63.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467351,EVENING,THEFT/OTHER,5.0,010602 2,38.901321,-76.995573,2023,5,10,4.6,010602,2.0,1266.0,739.0,354.0,3.0,10.0,1152.0,662.0,96.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467352,MIDNIGHT,ROBBERY,2.0,010100 3,38.904286,-77.029623,2023,7,27,5.2,010100,3.0,963.0,547.0,201.0,2.0,26.0,934.0,573.0,88.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467353,DAY,THEFT/OTHER,1.0,007203 4,38.877530,-77.004032,2023,8,1,5.4,007203,4.0,1280.0,784.0,305.0,6.0,16.0,1023.0,623.0,25.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467354,DAY,MOTOR VEHICLE THEFT,3.0,003500 2,38.919462,-77.025035,2023,1,8,4.9,003500,2.0,2470.0,995.0,901.0,5.0,85.0,2399.0,610.0,720.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467355,DAY,THEFT F/AUTO,6.0,009602 3,38.901211,-76.949333,2023,1,9,4.9,009602,3.0,1259.0,68.0,1000.0,7.0,33.0,990.0,606.0,31.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467356,EVENING,THEFT/OTHER,2.0,005602 3,38.899774,-77.054955,2023,1,18,4.9,005602,3.0,1022.0,784.0,60.0,4.0,10.0,962.0,604.0,297.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467357,EVENING,THEFT/OTHER,3.0,003702 2,38.925396,-77.033870,2023,6,28,5.2,003702,2.0,2170.0,595.0,1022.0,14.0,266.0,1727.0,1027.0,72.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467358,EVENING,THEFT/OTHER,2.0,001100 2,38.959907,-77.085300,2023,6,28,5.2,001100,2.0,1736.0,1216.0,150.0,2.0,45.0,1372.0,683.0,53.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467359,EVENING,THEFT/OTHER,7.0,009802 2,38.829200,-76.995555,2023,4,7,4.1,009802,2.0,1150.0,12.0,1076.0,5.0,12.0,826.0,499.0,65.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467360,MIDNIGHT,ROBBERY,3.0,005003 2,38.907236,-77.030322,2023,4,8,4.1,005003,2.0,1323.0,842.0,184.0,5.0,29.0,1282.0,780.0,64.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467361,EVENING,THEFT F/AUTO,2.0,005502 3,38.909358,-77.044147,2023,4,14,4.1,005502,3.0,783.0,591.0,32.0,1.0,18.0,753.0,553.0,79.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467362,EVENING,THEFT F/AUTO,4.0,002400 4,38.939353,-77.021500,2023,1,2,4.9,002400,4.0,1146.0,414.0,450.0,9.0,128.0,984.0,399.0,48.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467363,DAY,MOTOR VEHICLE THEFT,1.0,005801 2,38.896127,-77.019416,2023,11,6,4.6,005801,2.0,1009.0,496.0,42.0,1.0,10.0,943.0,621.0,118.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0
467364,DAY,THEFT F/AUTO,2.0,001003 1,38.951041,-77.089621,2023,11,7,4.6,001003,1.0,1098.0,913.0,25.0,0.0,5.0,805.0,389.0,9.0,678972.0,91068.0,50400.0,43682.0,35276.0,11382.0,7037.0,4922.0